<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="stockops"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%level app=${APP_NAME} thread=%thread logger=%logger{36} msg="%replace(%msg){'[\r\n]+',' '}"%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.stockops.logging" level="${STOCKOPS_REQUEST_LOG_LEVEL:-INFO}"/>
</configuration>
